.line ,.rect ,.circle{
   
    
    background-color: lightblue;
    border: 1px solid blue;
    margin: 1%;
    margin-top:1%;
    display: inline-block
    

}
 .buttons{

    margin-left:31%;
    background-color: lightblue;
    border: 1px solid black;
    display: inline-block;
    width: 33%;
    margin-top:2%;
    overflow: hidden;
   

    
 }
 button{
      
     
     padding: 1%;
     background-color: lightblue;
     color: orange;
     border: 1px solid blue;
    
 }
 .color{

    width:10%;
    height:53%;
    background-color: ghostwhite;
    border: 1px solid orange;
    margin-left:19.5%;
    position: absolute;
    
     

 }
 input {
     margin:20%;
     margin-bottom:25%;
     width:60%;
     padding:2%;
     
     background-color: lightblue;
    
     border: 1px solid blue;
     

 }
 label{

    margin:20%;
    margin-top:6%;
    color: orange;
    position: absolute;;

 } 

 #my-canvas{

    background-color: ghostwhite;
    border: 1px solid orange;
    float: right;
    margin-right:36%;
    
 }
 #clearr{


 }
 